.homeContainer {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: #020617;
}

.homeRight {
  flex: 1;
  display: flex;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
  }
}
